# Visual Studio
.vs/
bin/
obj/

# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# App settings
appsettings.Development.json

# Local database
*.mdf
*.ldf
*.ndf
*.sqlite
*.sqlite3
*.db
*.db3
db_update.txt
PresentationLayer/appsettings.json
